node_modules/@react-native/debugger-shell
node_modules/.cache
node_modules/jest*
node_modules/@jest*
node_modules/eslint*
node_modules/@typescript-eslint*
node_modules/typescript
node_modules/@swc*
.expo
.local
store-assets
screenshots
*.md
